*,
:before,
:after {
  --at-apply: box-border;
  --at-apply: border-0;
  --at-apply: border-solid;
}

html{
  height: 100%;
}

body {
  background-color: hsl(var(--background) / 0.8);
  min-height: 100vh;
  overflow: hidden;
}

.link {
  --at-apply: "text-primary underline-offset-4 hover:underline";
}

/* sidebar */
@layer base {
  :root {
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }

  .dark,
  [data-kb-theme="dark"] {
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
}
